.dautrang img{
    height: auto;
    max-width: 100%;
}
.nav{
    background-color: rgba(0, 0, 0, 0.677);
}
a{
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    transition: 2s;
}
a :hover{
    background-color: rgb(124, 86, 43);
    transform: scale(1.5);
}
.row{
    display: flex;
    justify-content: space-between;
}
.hang2{
    display: flex;
    justify-content: space-between;
}
.hang3{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(193, 191, 176);
    padding: 5px;
    margin: 5px;
}
.hang4{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(193, 191, 176);
    padding: 5px;
    margin: 5px;
}
.hang5{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(193, 191, 176);
    padding: 5px;
    margin: 5px;
}
.hang6{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hang7{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hang8{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(193, 191, 176);
    padding: 5px;
    margin: 5px;
}
.d1{
    border: 1px solid rgb(193, 191, 176);
    padding: 5px;
    margin: 5px;
}
#sell{
    text-decoration: line-through;
}
